* {
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
    font-family: 'Exo 2', sans-serif;
}

#maincontainer {
    width: 50%;
    margin: auto;
    text-align: center;
}

.mainheader {
    text-align: center;
    margin-top: 8px;
}

#header {
    display: flex;
    justify-content: center;
}

img {
    width: 60px;
    margin-left: 5px;
}

#mypost {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;

}

input[type="text"] {
    margin-bottom: 10px;
    padding: 10px;

}

#savePost, #emptySession, #logoutButton  {
    width: 100px;
    margin: auto;
    margin-top: 20px;
    font-family: 'Exo 2', sans-serif;
    background-color: #767676;
    border: 0;
    color: white;
    padding: 10px;
    letter-spacing: 1px;
    
    
}

#emptySessionLink, #logoutLink {
    text-decoration: none;
    color: white;
}

#postText{
    padding: 10px;
    font-family: 'Exo 2', sans-serif;

}

#postTitle {
    font-family: 'Exo 2', sans-serif;
}


.post {
    text-align: left;
    border-bottom: 1px solid #767676;
    margin-bottom: 50px;
    word-break: keep-all;
    

    
}

.post:last-child {
    margin-bottom: 100px;
}

#logoutPage {
    font-family: 'Exo 2', sans-serif;
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

@media all and (max-width: 600px) {
    #maincontainer, #mypost {
        width: 90%;
    }

    #mypost {
        margin-top: 100px;
        margin-bottom: 50px;
    }



}






